# Dependencies
node_modules/

# Runtime temp files (created by seticon during PNG->ICO conversion)
temp/

# npm
.npmrc
*.tgz

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Local env
.env
.env.local
